* {
  box-sizing: border-box;
}

.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.cont-hero {
}

.header {
  width: 1440px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-size: cover;
  background-position: center;
  border-bottom: 3px solid #ffffff;
  display: flex;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 207px;
  padding-right: 48px;
  max-width: 1440px;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.8)
    ),
    url("./images/header-backround.png");
}

.header-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0;
}

.header-nav-list {
  width: 325px;
  margin-left: 168px;
  display: flex;
  justify-content: space-between;
}

.header-nav-list-item {
  margin-left: 40px;
}

.header-button {
  width: 140px;
  height: 40px;
  padding: 8px 38px;
  display: block;
  font-family: "HeadlandOne";
  font-size: 20px;
  background-color: #0b0e66;
  border: 2px solid #26c7ea;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  color: #26c6ea;
}

.switcher {
  display: flex;
  align-items: center;
  width: 107px;
  font-size: 16px;
  justify-content: space-between;
}

.switcher-eng {
  font-family: "Hammersmith One";
  text-transform: uppercase;
  color: white;
}

.switcher-img {
  width: 36px;
  background-image: url("./images/switcher.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
}

.switcher-ua {
  text-transform: uppercase;
  font-family: "Hammersmith One";
  color: white;
}

.hero {
  width: 1440px;
  height: 740px;
  background-size: cover;
  background-position: center;
  padding-top: 180px;
  padding-bottom: 180px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./images/navig-background.png");
}

.hero-header {
  display: none;
}

.hero-z {
}

.hero-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.club-navi {
  width: 260px;
  height: 80px;
  font-family: "HeadlandOne";
  text-align: center;
  margin-top: 42px;
  padding: 25px 75px;
  display: block;
  background-color: #0b0e66;
  border: 2px solid #26c7ea;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  font-size: 24px;
  color: #26c7ea;
}

.hero-title {
  width: 298px;
  height: 96px;
  font-family: "Inter";
  color: white;
}

.arrowhero {
  width: 152px;
  height: 40px;
  margin-left: 53px;
  background-image: url("./images/arrowhero.png");
}

.hero-second-title {
  font-family: "Inter";
  width: 376px;
  height: 123px;
  color: white;
}

.official-social-networks {
  width: 50px;
  height: 141px;
}

.intagram {
  background-image: url("./images/instagram.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.twitter {
  background-image: url("./images/twitter.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
}

.o-s-n {
  padding-bottom: 25px;
  padding-right: 5px;
}

.youtube {
  background-image: url("./images/youtube.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
}

.author-section {
  margin-top: 75px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.author_s-thought {
  display: flex;
  justify-content: center;
  text-align: center;
}

.author-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-title-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.bird-with-arrows {
  background-image: url("./images/bird-with-arrows.png");
  width: 400px;
  height: 120px;
  margin-bottom: 10px;
  margin-left: 290px;
}

.trailer-sect {
  width: 1440px;
  height: 740px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 330px;
  display: flex;
  justify-content: center;
  background-image: url("./images/trailer-background.png");
}

.tlailer-link-button {
  width: 260px;
  height: 80px;
  font-size: 24px;
  padding: 25px 18px;
  text-align: center;
  display: block;
  border: 2px solid #26c7ea;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  font-family: "HeadlandOne";
  background-color: blue;
}

.title {
  text-align: center;
}

.cont-author {
}

.bird-with-arrows-2 {
  background-image: url("./images/bird-with-arrows-2.png");
  width: 400px;
  height: 120px;
  margin-left: 290px;
  margin-bottom: 10px;
}

.Navi-language-table {
  width: 1440px;
  height: 700px;
  padding-top: 58px;
  margin-left: auto;
  margin-right: auto;
  font-family: "HeadlandOne";
  font-size: 32px;
  max-width: 1440px;
  background-image: url("./images/table-backround.png");
}

.language-table {
  display: flex;
  justify-content: center;
}

.table-card {
  width: 1300px;
  height: 504px;
  margin-left: 204px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 320px;
  height: 200px;
  margin-top: 45px;
  margin-right: 36px;
  margin-bottom: 24px;
  background-color: #ffffff94;
}

.card-text-top {
  padding-top: 36px;
  text-align: center;
}

.card-text-bottom {
  padding-bottom: 36px;
  text-align: center;
}

.arrow-table-left {
  width: 152px;
  height: 40px;
  margin-left: 84px;
  padding-top: 40px;
  text-align: center;
  background-image: url("./images/arrow-table-left.png");
}

.arrow-table-rigth {
  width: 152px;
  height: 40px;
  margin-left: 84px;
  padding-top: 40px;
  text-align: center;
  background-image: url("./images/arrow-table-right.png");
}

.bird-with-arrows-table {
  width: 152px;
  height: 40px;
  margin-left: 84px;
  padding-top: 40px;
  text-align: center;
  background-image: url("./images/bird-with-arrows-table.png");
}

.bird-with-arrows-3 {
  background-image: url("./images/bird-with-arrows-3.png");
  margin-left: 290px;
  width: 400px;
  height: 120px;
  margin-bottom: 10px;
}

.footer {
  width: 1440px;
  height: 150px;
  padding: 35px 204px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.8)
    ),
    url("./images/header-backround.png");
}

.cont-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-tribute {
  width: 690px;
  margin-left: 80px;
  color: white;
}

.contact-tribute-item + .contact-tribute-item {
  margin-top: 16px;
}
.footer-lines-vector {
  width: 269px;
  height: 1px;
  background-image: url("./images/footer-line-vector.png");
}

.footer-lines-vector-2 {
  width: 194px;
  height: 1px;
  background-image: url("./images/footer-line-vector-2.png");
}

.contact-tribute-item {
}

.header-nav-list-item {
}

.copyrigth {
  color: white;
}
