* {
  box-sizing: border-box;
}

.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.header {
  width: 1440px;
  height: 150px;
  background-image: url("./images/header-background.png");
}

.header-nav-list {
  display: flex;
  justify-content: center;
}

.switcher {
}

.hero {
  width: 1440px;
  height: 740px;
  background-image: url("./images/navig-background.png");
}

.intagram {
  background-image: url("./images/instagram.png");
  background-repeat: no-repeat;
}

.twitter {
  background-image: url("./images/twitter.png");
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("./images/youtube.png");
  background-repeat: no-repeat;
}

.trailer-sect {
  width: 1440px;
  height: 740px;
  background-image: url("./images/trailer-background.png");
}

.Navi-language-table {
  width: 1440px;
  height: 700px;
  background-image: url("./images/table-backround.png");
}

.footer {
  width: 1440px;
  height: 220px;
  background-image: url("./images/footer-backround.jpg");
}

.header-nav-list-item {
}
